---
import Layout from "../layouts/Layout.astro";
import GraphicSpecies from "../components/GraphicSpecies.astro";
---
<Layout>
  <div class="container">
    <nav>
      <h2>Espèces de pengouin</h2>
      <select id="species-select">
        <option value="/species/Adelie">Pengouin Adélie</option>
        <option value="/species/Gentoo">Pengouin Gentoo</option>
        <option value="/species/Chinstrap">Pengouin Chinstrap</option>
      </select>
    </nav>
    
    <div class="iframe-container">
      <iframe name="species-frame" id="species-frame" src="/species/Adelie" width="100%" ></iframe>
    </div>
  </div>

  <script>
    function resizeIframe() {
      const iframe = document.getElementById('species-frame') as HTMLIFrameElement;
      iframe.onload = function() {
        try {
          iframe.style.height = iframe.contentWindow!.document.body.scrollHeight + 'px';
        } catch (e) {
          console.error('Erreur lors du redimensionnement de l\'iframe:', e);
        }
      };
    }

    function handleSpeciesSelect() {
      const select = document.getElementById('species-select') as HTMLSelectElement;
      const iframe = document.getElementById('species-frame') as HTMLIFrameElement;
      
      select.addEventListener('change', function() {
        iframe.src = this.value;
        resizeIframe();
      });
    }

    window.addEventListener('load', function() {
      resizeIframe();
      handleSpeciesSelect();
    });
    </script>

<style>

    .iframe-container {
      width: 100%;
      border: 1px solid ;
      border-radius: 4px;
      overflow: hidden;
      padding: 2rem;
    }
    .container {
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      margin: 0 auto;
      padding: 1rem;
    }
</style>
  
</Layout>