<header>
    <nav>
        <div>
            <a href="/">Accueil</a>
        </div>
        <div>
            <a href="/species/Adelie">Adelie</a>
            <a href="/species/Gentoo">Gentoo</a>
            <a href="/species/Chinstrap">Chinstrap</a>
        </div>
        <div>
            <a href="/test-iframe">Iframe</a>
            <a href="/ancre-specie">Ancres Carrousel</a>
        </div>
    </nav>
    <style>
        header {
            background-color: #f8f9fa;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            padding: 1rem 2rem;
            position: sticky;
            top: 0;
            z-index: 100;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }
    </style>
</header>